body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #334;
  padding: 12px;
}

nav ul li a {
  color: wheat;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-between;
}

.intro, .sidebar {
  width: 50%;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1.5fr));
  gap: 22px;
}

.service-card {
  border: 1.5px solid #ddd;
  padding: 22px;
  text-align: center;
  transition: transform 0.4s ease-in-out;
}

.service-card:hover {
  transform: scale(1.04);
}
@media  (max-width: 1025px) {
  .container {
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  .services-grid {
      grid-template-columns: 1fr;
  }
}
button {
  background-color: green;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkblue;
}
